################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/SurvivalTools/packages/Lib.Harmony.2.0.0.8
*.cache
*.ide-shm
*.ide-wal
/.vs
SurvivalTools.rar
*.cache
Source/SurvivalTools/obj/Release/SurvivalTools.pdb
Source/SurvivalTools/.vs/SurvivalTools/v16/Server/sqlite3/storage.ide
Source/SurvivalTools/.vs/SurvivalTools/v16/.suo
/1.1/Assemblies/0Harmony.dll
/1.1/Assemblies/0Harmony.xml
/1.1/Assemblies/UnityEngine.UI.dll
/1.1/Assemblies/UnityEngine.TextRenderingModule.dll
/1.1/Assemblies/UnityEngine.IMGUIModule.dll
/1.1/Assemblies/UnityEngine.dll
/1.1/Assemblies/UnityEngine.CoreModule.dll
/1.1/Assemblies/Unity.TextMeshPro.dll
/1.1/Assemblies/NVorbis.dll
/1.1/Assemblies/NAudio.dll
/1.1/Assemblies/ISharpZipLib.dll
/1.1/Assemblies/Assembly-CSharp.dll
/1.1/Assemblies/Assembly-CSharp-firstpass.dll
*.ide
