################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/SurvivalTools/packages/Lib.Harmony.2.0.0.8
